<!-- ====== start sidemenu navbar ====== -->
<div class="side_menu style-7" id="side_menu">
  <a href="#0" class="side_menu_cls">
      <img src="assets/img/icons/4dots.png" alt="">
  </a>
  <div class="content">
      <div class="logo">
          <a href="#" class="w-100">
             <h2>EternITy</h2>
          </a>
      </div>
      <div class="pages_links">
          <ul>
              <li><a href="#" class="active">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Products</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="contact.html">Contact</a></li>
          </ul>
      </div>
      <div class="side_foot">
          <h5> get in touch </h5>
          <div class="row">
              <div class="col-lg-6">
                  <a href="#"> <i class="fal fa-phone-alt me-2"></i> (+91) 8270 454 236</a>
              </div>
              <div class="col-lg-6">
                  <a href="#"> <i class="fal fa-envelope me-2 mt-4 mt-lg-0"></i> eternityskg@gmail.com </a>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="side_overlay"></div>
<!-- ====== end sidemenu navbar ====== -->

<!-- ====== start top navbar ====== -->
<div class="top-navbar style-7">
  <div class="container">
      <div class="row justify-content-between gx-0">
          <div class="col-7">
              <div class="top_info">
                  <a href="#" class="me-4">
                      <i class="fas fa-envelope-open me-1 color-blue7"></i>
                      <span>eternityskg@gmail.com</span>
                  </a>
                  <a href="#">
                      <i class="fas fa-phone me-1 color-blue7"></i>
                      <span>(+91) 8270 454 236</span>
                  </a>
              </div>
          </div>
          <div class="col-5">
              <div class="side_links d-flex justify-content-lg-end">
                  <a href="#" class="me-4"> Contact </a>
                  <a href="#" class="me-4"> Portfolio </a>
                  <div class="dropdown border-1 border-start ps-4">
                      <a class="dropdown-toggle fw-bold" href="#" id="navbarDropdown1" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          English
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                          <li><a class="dropdown-item" href="#0"> தமிழ் </a></li>
                          <li><a class="dropdown-item" href="#0"> മലയാളം </a></li>
                          <li><a class="dropdown-item" href="#0"> తెలుగు </a></li>
                          <li><a class="dropdown-item" href="#0"> हिन्दी </a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- ====== end top navbar ====== -->

<!-- ====== start navbar ====== -->
<nav class="navbar navbar-expand-lg navbar-light style-7">
  <div class="container">
      <a class="navbar-brand" href="#">
          <h2>EternITy</h2>
          <img src="assets/img/logo" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ps-4">
              <li class="nav-item dropdown">
                  <a class="nav-link active" href="index.html">Home</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link " href="comming-soon.html">About EITy</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link " href="comming-soon.html">Services</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link " href="comming-soon.html">Products</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="comming-soon.html">
                      portfolio
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="comming-soon.html">
                      blog
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/contact">
                      <img src="assets/img/icons/nav_icon/price.png" alt="" class="icon-15 me-1">
                      contact
                  </a>
              </li>
          </ul>
          <div class="nav-side">
              <div class="d-flex align-items-center">

                  <a href="#0" class="side_menu_btn">
                      <img src="assets/img/icons/4dots.png" alt="">
                  </a>
              </div>
          </div>
      </div>
  </div>
</nav>
