<section class="contact section-padding pt-0 style-6">
  <div class="container">
      <div class="content">
          <div class="row justify-content-center">
              <div class="col-lg-8">
                  <form action="#" class="form" method="post">
                      <p class="text-center text-danger fs-12px mb-30">The field is required mark as *</p>
                      <div class="row">
                          <div class="col-lg-6">
                              <div class="form-group mb-20">
                                  <input type="text" name="name" class="form-control" placeholder="Name *" required>
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="form-group mb-20">
                                  <input type="text" name="email" class="form-control" placeholder="Email Address *" required>
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="form-group mb-20">
                                  <input type="text" name="phone" class="form-control" placeholder="Phone Number (option)">
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="form-group mb-20">
                                  <input type="text" name="website" class="form-control" placeholder="Your Website (option)">
                              </div>
                          </div>

                          <div class="col-lg-12">
                              <div class="form-group">
                                  <textarea rows="10" class="form-control" placeholder="How can we help you?"></textarea>
                              </div>
                          </div>
                          <div class="col-lg-12 text-center">
                              <div class="form-check d-inline-flex mt-30 mb-30">
                                  <input class="form-check-input me-2 mt-0" type="checkbox" value="" id="flexCheckDefault">
                                  <label class="form-check-label small" for="flexCheckDefault">
                                      By submitting, i’m agreed to the <a href="#" class="text-decoration-underline">Terms & Conditons</a>
                                  </label>
                              </div>
                          </div>
                          <div class="col-lg-12 text-center">
                              <input type="submit" value="Send Your Request" class="btn rounded-pill bg-blue4 fw-bold text-white text-light fs-12px">
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          <img src="assets/img/icons/contact_a.png" alt="" class="contact_a">
          <img src="assets/img/icons/contact_message.png" alt="" class="contact_message">
      </div>
  </div>
</section>
