<section class="team section-padding style-6">
  <div class="content">
      <div class="container">
          <div class="row items align-items-end mb-20">
              <div class="col-lg-7">
                  <div class="section-head  style-4 mb-20">
                     <h2 class="mb-20">Our <span>Tech Leaders</span> </h2>
                  </div>

              </div>
              <div class="col-lg-5 text-end">
                  <a class="text-decoration-underline text-uppercase mb-4" >See All our team</a>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-3 col-sm-6">
                  <div class="team-card mb-30 mb-lg-0 style-6">
                      <div class="img img-cover">
                          <img src="https://img.freepik.com/free-vector/cute-astronaut-holding-rocket-flag-moon-cartoon-vector-icon-illustration-science-technology-icon_138676-6490.jpg?w=740&t=st=1694611205~exp=1694611805~hmac=2b88a793a2d4b7f6b2da73cf2a93727df930d113741918da8b8fa97581da8627" alt="">
                          <div class="social-icons">
                              <a >
                                  <i class="fab fa-twitter"></i>
                              </a>
                              <a >
                                  <i class="fab fa-facebook-f"></i>
                              </a>
                              <a >
                                  <i class="fab fa-linkedin-in"></i>
                              </a>
                              <a >
                                  <i class="fab fa-github"></i>
                              </a>
                          </div>
                      </div>
                      <div class="info">
                          <a class="d-block" ><h6>Mr. Harish Kumar</h6></a>
                          <small>CEO CTO Founder</small>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                  <div class="team-card mb-30 mb-lg-0 style-6">
                      <div class="img img-cover">
                          <img src="https://img.freepik.com/free-vector/cute-astronaut-floating-with-rocket-space-cartoon-vector-icon-illustration-science-technology_138676-5426.jpg?w=740&t=st=1694610988~exp=1694611588~hmac=81f6cdf7b68de4d16d3894355c57c1add6860651939a017c692a4ca3ddfcb26a" alt="">
                          <div class="social-icons">
                              <a >
                                  <i class="fab fa-twitter"></i>
                              </a>
                              <a >
                                  <i class="fab fa-facebook-f"></i>
                              </a>
                              <a >
                                  <i class="fab fa-linkedin-in"></i>
                              </a>
                              <a >
                                  <i class="fab fa-github"></i>
                              </a>
                          </div>
                      </div>
                      <div class="info">
                          <a class="d-block" ><h6>Mr. Jaya Prakash</h6></a>
                          <small>Leagel Advisor</small>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                  <div class="team-card mb-30 mb-lg-0 style-6">
                      <div class="img img-cover">
                          <img src="https://img.freepik.com/free-vector/cute-astronaut-riding-rocket-space-with-waving-hand-cartoon-vector-icon-illustration-science-tech_138676-6588.jpg?t=st=1694611116~exp=1694611716~hmac=a156110adedb70bd59aa739016993699e3652a472d737f0e5b8569831541ac93" alt="">
                          <div class="social-icons">
                              <a >
                                  <i class="fab fa-twitter"></i>
                              </a>
                              <a >
                                  <i class="fab fa-facebook-f"></i>
                              </a>
                              <a >
                                  <i class="fab fa-linkedin-in"></i>
                              </a>
                              <a >
                                  <i class="fab fa-github"></i>
                              </a>
                          </div>
                      </div>
                      <div class="info">
                          <a class="d-block" ><h6>Mr. Keshav Prasad</h6></a>
                          <small>Full Stack Developer</small>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                  <div class="team-card style-6">
                      <div class="img img-cover">
                          <img src="https://img.freepik.com/free-vector/cute-astronaut-going-mars-with-rocket-cartoon-vector-icon-illustration-science-technology-icon_138676-5827.jpg?w=740&t=st=1694610895~exp=1694611495~hmac=7cdcf812e7f175dca6b98817eeb5093c6836c2192d102ed32b043de342d8cf4e" alt="">
                          <div class="social-icons">
                              <a >
                                  <i class="fab fa-twitter"></i>
                              </a>
                              <a >
                                  <i class="fab fa-facebook-f"></i>
                              </a>
                              <a >
                                  <i class="fab fa-linkedin-in"></i>
                              </a>
                              <a >
                                  <i class="fab fa-github"></i>
                              </a>
                          </div>
                      </div>
                      <div class="info">
                          <a class="d-block" ><h6>Mr. Rajesh</h6></a>
                          <small>Design & Develoment</small>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
