<main>
  <section class="services style-7 pt-100">
      <div class="container">
          <div class="section-head text-center style-4 mb-50">
              <div class="top-title mb-10">
                  <h5>EternITy Services </h5>
              </div>
              <h2 class="">
                  What We <span> Provide </span> <br> as a <span>EternITy</span>
              </h2>
          </div>
          <div class="services-content pb-100">
              <div class="row">
                  <div class="col-lg-3 col-sm-6">
                      <div class="service-item-style7">
                          <div class="img">
                              <img src="assets/img/icons/serv_icons/21.png" alt="">
                              <span class="icon">
                                  <i class="fas fa-globe"></i>
                              </span>
                          </div>
                          <div class="info">
                              <h6>Software Development  </h6>
                              <p class="text"> We offer start-ups, mid-sized businesses and major businesses
                                  the highest calibre of commercial software development services. </p>

                              <a href="#"> <i class="fal fa-long-arrow-right"></i> Read More  <i class="fal fa-long-arrow-right"></i> </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                      <div class="service-item-style7">
                          <div class="img">
                              <img src="assets/img/icons/serv_icons/22.png" alt="">
                              <span class="icon">
                                  <i class="fas fa-book"></i>
                              </span>
                          </div>
                          <div class="info">
                              <h6> Mobile App  </h6>
                              <p class="text"> Businesses are realising the value of having a strong presence
                                  on mobile devices as the world gets more mobile. </p>
                              <a href="#"> <i class="fal fa-long-arrow-right"></i> Read More  <i class="fal fa-long-arrow-right"></i> </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                      <div class="service-item-style7">
                          <div class="img">
                              <img src="assets/img/icons/serv_icons/23.png" alt="">
                              <span class="icon">
                                  <i class="fas fa-bell"></i>
                              </span>
                          </div>
                          <div class="info">
                              <h6>Branding</h6>
                              <p class="text"> A successful product relies heavily on branding. We offer goods
                                  that can be specially advertised to increase sales and reach.</p>
                              <a href="#"> <i class="fal fa-long-arrow-right"></i> Read More  <i class="fal fa-long-arrow-right"></i> </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                      <div class="service-item-style7">
                          <div class="img">
                              <img src="assets/img/icons/serv_icons/24.png" alt="">
                              <span class="icon">
                                  <i class="fas fa-users"></i>
                              </span>
                          </div>
                          <div class="info">
                              <h6>  Web & CMS  </h6>
                              <p class="text"> We are a one-stop website design and web development company
                                  with extensive experience in setting up new websites. </p>
                              <a href="#"> <i class="fal fa-long-arrow-right"></i> Read More  <i class="fal fa-long-arrow-right"></i> </a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row" style="margin-top: 25px;">
                  <div class="col-lg-3 col-sm-6">
                      <div class="service-item-style7">
                          <div class="img">
                              <img src="assets/img/icons/serv_icons/21.png" alt="">
                              <span class="icon">
                                  <i class="fas fa-globe"></i>
                              </span>
                          </div>
                          <div class="info">
                              <h6> E-Commerce   </h6>
                              <p class="text"> We are a one-stop website design and web development company
                                  with extensive experience in setting up new websites. </p>

                              <a href="#"> <i class="fal fa-long-arrow-right"></i> Read More  <i class="fal fa-long-arrow-right"></i> </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                      <div class="service-item-style7">
                          <div class="img">
                              <img src="assets/img/icons/serv_icons/21.png" alt="">
                              <span class="icon">
                                  <i class="fas fa-globe"></i>
                              </span>
                          </div>
                          <div class="info">
                              <h6> Digital Marketing   </h6>
                              <p class="text"> We are a one-stop website design and web development company
                                  with extensive experience in setting up new websites. </p>

                              <a href="#"> <i class="fal fa-long-arrow-right"></i> Read More  <i class="fal fa-long-arrow-right"></i> </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                      <div class="service-item-style7">
                          <div class="img">
                              <img src="assets/img/icons/serv_icons/22.png" alt="">
                              <span class="icon">
                                  <i class="fas fa-book"></i>
                              </span>
                          </div>
                          <div class="info">
                              <h6>  Cyber Security </h6>
                              <p class="text">We create comprehensive cybersecurity plans and provide
                                  enduring system to maintain your company safe and risks . </p>
                              <a href="#"> <i class="fal fa-long-arrow-right"></i> Read More  <i class="fal fa-long-arrow-right"></i> </a>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                      <div class="service-item-style7">
                          <div class="img">
                              <img src="assets/img/icons/serv_icons/23.png" alt="">
                              <span class="icon">
                                  <i class="fas fa-bell"></i>
                              </span>
                          </div>
                          <div class="info">
                              <h6> Cloud Service </h6>
                              <p class="text"> Cloud Software and our infrastructure solutions delivered as a
                                  service to assist you in implementing your workloads.</p>
                              <a href="#"> <i class="fal fa-long-arrow-right"></i> Read More  <i class="fal fa-long-arrow-right"></i> </a>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </section>
  <section class="codei section-padding" style="background-color: #e9e8eeb8;">
      <div class="container-xxl box px-4">
          <div class="row align-items-center">
              <div class="col-lg-5">
                  <div class="cont mb-5 mb-lg-0">
                      <div class="section-head  style-4">
                           <h2 class="">
                              About EnternITy<span>Innovating Solutions</span>Empowering<span>Businesses</span>
                          </h2>
                      </div>
                      <h2 class="mb-20 lh-3 fs-2 text-capitalize"></h2>
                          <p class=" lh-6 fs-14px">At EternITy, we are on a mission to revolutionize the digital landscape through cutting-edge software solutions. Established in 2021, we are a dynamic team of passionate technologists, designers, and problem solvers who are dedicated to crafting software that not only meets the needs of today's businesses but also propels them into a brighter future.</p>
                      <ul>
                          <li class="d-flex mb-20">
                              <i class="fas fa-check-circle color-blue7 me-2 mt-2"></i>
                              <div class="text"> <strong class="color-000"> Innovation: </strong> We thrive on pushing the boundaries of what's possible in software development. </div>
                          </li>
                          <li class="d-flex mb-20">
                              <i class="fas fa-check-circle color-blue7 me-2 mt-2"></i>
                              <div class="text"> <strong class="color-000"> Quality: </strong> We are committed to delivering products and services of the highest quality.</div>
                          </li>
                          <li class="d-flex mb-20">
                              <i class="fas fa-check-circle color-blue7 me-2 mt-2"></i>
                              <div class="text"> <strong class="color-000"> Collaboration: </strong> We work closely with our clients, understanding their unique needs and goals.</div>
                          </li>
                          <li class="d-flex mb-20">
                              <i class="fas fa-check-circle color-blue7 me-2 mt-2"></i>
                              <div class="text"> <strong class="color-000"> Integrity: </strong>We uphold the highest ethical standards in everything we do.</div>
                          </li>
                      </ul>
                      <div class="d-flex flex-wrap">
                          <a href="#" class="btn btn-icon-circle rounded-pill bg-blue7 fw-bold text-white me-4" target="_blank">
                              <small> Get Started Now <i class="fas fa-long-arrow-alt-right"></i> </small>
                          </a>
                      </div>
                  </div>

              </div>
              <div class="col-lg-6 offset-lg-1">
                  <div class="img" >
                      <img src="https://img.freepik.com/free-photo/3d-render-glowing-brain-with-abstract-programming-code_1048-5765.jpg?w=740&t=st=1694597558~exp=1694598158~hmac=dca14c05151cfc5bf44cf23ecc345ce26715fa6e7749ca1cdbbfaf40934e19b6" alt="" style="border-radius: 50px;">
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="community pt-40 style-5" style="background-color: #eeedf3;">
      <div class="container">
          <div class="section-head text-center style-4 mb-50">
              <h2 class="">
                  Top   <span> Reasons   </span> <br> To Choose 🚀 <span>EternITy.....</span>
              </h2>
          </div>
          <div class="content rounded-pill">
              <div class="commun-card">
                  <div class="icon">
                      <img src="assets/img/icons/code3d.png" alt="">
                  </div>
                  <div class="inf">
                      <h5>Innovation </h5>
                  </div>
              </div>
              <div class="commun-card">
                  <div class="icon">
                      <img src="assets/img/icons/2.png" alt="" width="52px;">
                  </div>
                  <div class="inf">
                      <h5>Customization</h5>
                  </div>
              </div>
              <div class="commun-card">
                  <div class="icon">
                      <img src="assets/img/icons/3.png" alt=""  width="52px;">
                  </div>
                  <div class="inf">
                      <h5>Quality Assurance</h5>
                  </div>
              </div>
              <div class="commun-card">
                  <div class="icon">
                      <img src="assets/img/icons/message3d.png" alt="">
                  </div>
                  <div class="inf">
                      <h5>Friendly Support</h5>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <section class="codei section-padding" style="background-color: #e9e8eeb8; flex-direction: row-reverse;">
      <div class="container-xxl box px-4">
          <div class="row align-items-center" >
              <div class="col-lg-5">
                  <div class="cont mb-5 mb-lg-0">
                      <h2 class="mb-20 lh-3 fs-2 text-capitalize">Our Journey</h2>
                      <p class=" lh-6 fs-18px" style="font-size: 16px;">Since our inception, we have strived to stay at the forefront of innovation. Our journey began with a vision to simplify complex processes, enhance user experiences, and drive efficiency through technology. Over the years, we have honed our skills, expanded our horizons, and delivered impactful solutions to a diverse range of clients.</p>

                      <div class="d-flex flex-wrap">
                          <a href="#" class="btn btn-icon-circle rounded-pill bg-blue7 fw-bold text-white me-4 mt-20" target="_blank">
                              <small> Get Started Now <i class="fas fa-long-arrow-alt-right"></i> </small>
                          </a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 offset-lg-1">
                  <div class="img" >
                      <img src="https://img.freepik.com/free-photo/astronaut-explores-outer-dark-space-generative-al_169016-28607.jpg?w=740&t=st=1694597790~exp=1694598390~hmac=812cb4143c54ed7fe1cd58f462b9cb45fc555f5c2d2a24051379aa9502509dd1" alt="" style="border-radius: 50px;">
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- ====== start services ====== -->

  <!-- ====== start projects  ====== -->
  <section class="projects style-7 section-padding">
      <div class="content">
          <div class="row">
              <div class="col-lg-3 col-sm-6">
                  <div class="section-head style-4 mb-50">
                      <h2 class="">
                          Creative <span> Works </span>  EternITy Done🚀
                      </h2>
                  </div>
                  <div class="projects-tabs">
                      <ul class="nav nav-pills flex-column mb-3" id="pills-tab" role="tablist">
                          <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-proj1-tab" data-bs-toggle="pill" data-bs-target="#pills-proj1" type="button" role="tab" aria-controls="pills-proj1" aria-selected="true">
                                 <i class="fal fa-long-arrow-right me-2 color-blue7"></i>Premium Website Design
                            </button>
                          </li>
                          <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-proj2-tab" data-bs-toggle="pill" data-bs-target="#pills-proj2" type="button" role="tab" aria-controls="pills-proj2" aria-selected="false">
                              <i class="fal fa-long-arrow-right me-2 color-blue7"></i> UI UX Design
                            </button>
                          </li>
                          <li class="nav-item" role="presentation">
                              <button class="nav-link" id="pills-proj3-tab" data-bs-toggle="pill" data-bs-target="#pills-proj1" type="button" role="tab" aria-controls="pills-proj3" aria-selected="false">
                                  <i class="fal fa-long-arrow-right me-2 color-blue7"></i> Branding Design
                              </button>
                          </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="pills-proj4-tab" data-bs-toggle="pill" data-bs-target="#pills-proj2" type="button" role="tab" aria-controls="pills-proj4" aria-selected="false">
                                  <i class="fal fa-long-arrow-right me-2 color-blue7"></i>Web App Development
                              </button>
                          </li>
                          <li class="nav-item" role="presentation">
                              <button class="nav-link" id="pills-proj4-tab" data-bs-toggle="pill" data-bs-target="#pills-proj2" type="button" role="tab" aria-controls="pills-proj4" aria-selected="false">
                                  <i class="fal fa-long-arrow-right me-2 color-blue7"></i>Mobile App Development
                              </button>
                          </li>
                          <li class="nav-item" role="presentation">
                              <button class="nav-link" id="pills-proj4-tab" data-bs-toggle="pill" data-bs-target="#pills-proj2" type="button" role="tab" aria-controls="pills-proj4" aria-selected="false">
                                  <i class="fal fa-long-arrow-right me-2 color-blue7"></i>Cloud Services
                              </button>
                          </li>
                      </ul>
                      <div class="swiper-button-next">
                          <i class="far fa-long-arrow-right"></i>
                      </div>
                      <div class="swiper-button-prev">
                          <i class="far fa-long-arrow-left"></i>
                      </div>
                  </div>
              </div>
              <div class="col-lg-9">
                  <div class="tab-content" id="pills-tabContent">
                      <div class="tab-pane fade show active" id="pills-proj1" role="tabpanel" aria-labelledby="pills-proj1-tab">
                          <div class="projects-slider7">
                              <div class="swiper-container">
                                  <div class="swiper-wrapper">
                                      <div class="swiper-slide">
                                          <a href="#" class="project-card style-7">
                                              <div class="info">
                                                  <h6> UI & UX, Website </h6>
                                                  <h3> Protogus Website UIX Design </h3>
                                              </div>
                                              <div class="img">
                                                  <img src="assets/img/projects/8.png" alt="">
                                              </div>
                                          </a>
                                      </div>
                                      <div class="swiper-slide">
                                          <a href="#" class="project-card style-7">
                                              <div class="info">
                                                  <h6> UI & UX, Website </h6>
                                                  <h3> Protogus Website UIX Design </h3>
                                              </div>
                                              <div class="img">
                                                  <img src="assets/img/projects/9.png" alt="">
                                              </div>
                                          </a>
                                      </div>
                                      <div class="swiper-slide">
                                          <a href="#" class="project-card style-7">
                                              <div class="info">
                                                  <h6> UI & UX, Website </h6>
                                                  <h3> Protogus Website UIX Design </h3>
                                              </div>
                                              <div class="img">
                                                  <img src="assets/img/projects/8.png" alt="">
                                              </div>
                                          </a>
                                      </div>
                                      <div class="swiper-slide">
                                          <a href="#" class="project-card style-7">
                                              <div class="info">
                                                  <h6> UI & UX, Website </h6>
                                                  <h3> Protogus Website UIX Design </h3>
                                              </div>
                                              <div class="img">
                                                  <img src="assets/img/projects/9.png" alt="">
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="tab-pane fade" id="pills-proj2" role="tabpanel" aria-labelledby="pills-proj2-tab">
                          <div class="projects-slider7">
                              <div class="swiper-container">
                                  <div class="swiper-wrapper">
                                      <div class="swiper-slide">
                                          <a href="#" class="project-card style-7">
                                              <div class="info">
                                                  <h6> UI & UX, Website </h6>
                                                  <h3> Protogus Website UIX Design </h3>
                                              </div>
                                              <div class="img">
                                                  <img src="assets/img/projects/9.png" alt="">
                                              </div>
                                          </a>
                                      </div>
                                      <div class="swiper-slide">
                                          <a href="#" class="project-card style-7">
                                              <div class="info">
                                                  <h6> UI & UX, Website </h6>
                                                  <h3> Protogus Website UIX Design </h3>
                                              </div>
                                              <div class="img">
                                                  <img src="assets/img/projects/8.png" alt="">
                                              </div>
                                          </a>
                                      </div>
                                      <div class="swiper-slide">
                                          <a href="#" class="project-card style-7">
                                              <div class="info">
                                                  <h6> UI & UX, Website </h6>
                                                  <h3> Protogus Website UIX Design </h3>
                                              </div>
                                              <div class="img">
                                                  <img src="assets/img/projects/9.png" alt="">
                                              </div>
                                          </a>
                                      </div>
                                      <div class="swiper-slide">
                                          <a href="#" class="project-card style-7">
                                              <div class="info">
                                                  <h6> UI & UX, Website </h6>
                                                  <h3> Protogus Website UIX Design </h3>
                                              </div>
                                              <div class="img">
                                                  <img src="assets/img/projects/8.png" alt="">
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <a href="#0" class="btn btn-icon-circle rounded-pill bg-white fw-bold mt-50">
                          <small> More Projects <i class="fas fa-long-arrow-alt-right bg-light"></i> </small>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- ====== end projects  ====== -->
  <section class="numbers style-8 pt-100">
      <div class="container">
          <div class="section-head style-8 text-center mb-80 wow fadeInUp">
              <h6> What We Use  </h6>
              <h3> Intregrations Platforms For Your Business </h3>
          </div>
          <div class="content">
              <div class="logo-icon wow zoomIn">
                  <h2>EnternITy <br>Technology</h2>
                  <img src="assets/img/logo_home8_icon.png" alt="">
              </div>
              <div class="plat-icons">
                  <a href="#" class="icon icon-shadow slide_up_down">
                      <img src="assets/img/icons/numbers/Angular.png" alt="" width="70%">
                  </a>
                  <a href="#" class="icon slide_up_down">
                      <img src="assets/img/icons/numbers/react.webp" alt="" width="10%">
                  </a>
                  <a href="#" class="icon icon-shadow slide_up_down">
                      <img src="assets/img/icons/numbers/html.png" alt="" width="50%">
                  </a>

                  <a href="#" class="icon slide_up_down">
                      <img src="assets/img/icons/numbers/css.png" alt="" width="15%">
                  </a>
                  <a href="#" class="icon icon-shadow slide_up_down">
                      <img src="https://www.freepnglogos.com/uploads/javascript-png/javascript-nodejs-logo-27.png" alt="">
                  </a>
                  <a href="#" class="icon icon-shadow slide_up_down">
                      <img src="https://cdn-icons-png.flaticon.com/512/5968/5968282.png" alt="">
                  </a>

                  <a href="#" class="icon icon-shadow slide_up_down">
                      <img src="assets/img/icons/numbers/cmm.png" alt="" width="70%">
                  </a>
              </div>
              <img src="assets/img/num8_circle.png" alt="" class="num8_circle rotate-center">
          </div>
      </div>
      <div class="numbers-btm">
          <div class="container">
              <div class="numbers-content">
                  <div class="row">
                      <div class="col-lg-3 col-sm-6 ">
                          <div class="number-card style-8 mt-4 mt-lg-0 wow fadeInUp">
                              <div class="icon">
                                  <img src="assets/img/icons/numbers/8.png" alt="">
                              </div>
                              <div class="inf">
                                  <h3> <span class="counter">30</span> + </h3>
                                  <p> Projects Executed </p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-sm-6 ">
                          <div class="number-card style-8 mt-4 mt-lg-0 wow fadeInUp" data-wow-delay="0.2s">
                              <div class="icon">
                                  <img src="assets/img/icons/numbers/9.png" alt="">
                              </div>
                              <div class="inf">
                                  <h3> <span class="counter">100</span> + </h3>
                                  <p> Cup of Coffees </p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-sm-6 ">
                          <div class="number-card style-8 mt-4 mt-lg-0 wow fadeInUp" data-wow-delay="0.4s">
                              <div class="icon">
                                  <img src="assets/img/icons/numbers/10.png" alt="">
                              </div>
                              <div class="inf">
                                  <h3> <span class="counter">30</span> + </h3>
                                  <p> Sucessfull Projects </p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-sm-6 ">
                          <div class="number-card style-8 mt-4 mt-lg-0 wow fadeInUp" data-wow-delay="0.6s">
                              <div class="icon">
                                  <img src="assets/img/icons/numbers/11.png" alt="">
                              </div>
                              <div class="inf">
                                  <h3> <span class="counter">100</span> + </h3>
                                  <p> Happy Customers </p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <img src="assets/img/icons/numbers/7.png" alt="" class="r_shape rotate-center">
  </section>
  <!-- ====== start testimonials ====== -->
  <section class="testimonials style-7 section-padding">
      <div class="container">
          <div class="section-head text-center style-4 mb-80">
              <div class="top-title mb-10">

                  <h5> "Feedbacks" </h5>

              </div>
              <h2 class="">
                  10K + Happy <span> Customers Around </span>
              </h2>
          </div>
          <div class="testimonials-slider7 position-relative overflow-hidden">
              <div class="swiper-container">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide">
                          <div class="content">
                              <div class="row justify-content-center">
                                  <div class="col-lg-10">
                                      <div class="testi-card">
                                          <div class="text">
                                              “ Eternity's software transformed our operations – seamless and efficient. They deliver innovation that truly stands the test of time.”
                                          </div>
                                          <div class="author">
                                              <div class="img icon-60 rounded-circle overflow-hidden img-cover me-3 flex-shrink-0">
                                                  <img src="assets/img/testimonials/user7.png" alt="">
                                              </div>
                                              <div class="inf">
                                                  <p> Head Of Idea </p>
                                                  <h6> Harish Kumar  </h6>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="swiper-slide">
                          <div class="content">
                              <div class="row justify-content-center">
                                  <div class="col-lg-10">
                                      <div class="testi-card">
                                          <div class="text">
                                              “ Choosing Eternity was the best decision for our business. Their dedication and expertise are unmatched, making our digital journey truly everlasting. ”
                                          </div>
                                          <div class="author">
                                              <div class="img icon-60 rounded-circle overflow-hidden img-cover me-3 flex-shrink-0">
                                                  <img src="assets/img/testimonials/user7.png" alt="">
                                              </div>
                                              <div class="inf">
                                                  <p> Head Of Idea </p>
                                                  <h6> Keshav Prasad</h6>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="get-qoute-banner">
              <div class="row align-items-center">
                  <div class="col-lg-6">
                      <div class="info">
                          <p> Anytime you can make request to us </p>
                          <h6> Everything You Need To Manage Your Business </h6>
                      </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 d-none d-lg-block">
                      <div class="img">
                          <img src="assets/img/testimonials/banner7.png" alt="">
                      </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                      <div class="btns text-lg-end">
                          <a href="#0" class="btn btn-icon-circle rounded-pill bg-blue7 fw-bold text-white">
                              <small> Get A Quote <i class="fas fa-long-arrow-alt-right"></i> </small>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <img src="assets/img/testimonials/testi7_back.png" alt="" class="img_back slide_up_down">
      <img src="assets/img/testimonials/testi7_qout.png" alt="" class="testi_qout">
  </section>
  <!-- ====== end testimonials ====== -->
  <!-- ====== start blog ====== -->
  <section class="blog style-7 section-padding">
      <div class="container">
          <div class="section-head text-center style-4 mb-80">
              <div class="top-title mb-10">

                  <h5>Recent  Blog </h5>

              </div>
              <h2 class="">
                  Company <span> News & Insights </span>
              </h2>
          </div>
          <div class="content">
              <div class="row">
                  <div class="col-lg-4">
                      <div class="blog-card style-7 mt-5 mt-lg-0">
                          <div class="img img-cover">
                              <img src="https://img.freepik.com/free-photo/ai-technology-brain-background-digital-transformation-concept_53876-125206.jpg?t=st=1694605818~exp=1694606418~hmac=584e3685105883557e36b8a8bd1007aae5199c4643f2c143f590220ab86ce126" alt="">
                          </div>
                          <div class="info pt-40">
                              <div class="date-tags">
                                  <div class="tags">
                                      <a href="">IT Solution</a>
                                  </div>
                                  <a href="#" class="date">
                                      Sep 13, 2023
                                  </a>
                                  <span class="color-999"> | </span>
                                  <a href="#" class="author color-999">
                                      By <span class="color-000 fw-bold"> Admin </span>
                                  </a>
                              </div>
                              <h4 class="title" style="font-size: 15px;;">
                                  <a href=""> Unlocking the Power of Artificial Intelligence: How AI Can Transform Your Business </a>
                              </h4>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="blog-card style-7 mt-5 mt-lg-0">
                          <div class="img img-cover">
                              <img src="https://img.freepik.com/free-photo/cloud-computing-electronic-chip-board-cloud-computer-is-system-transfer-data-information-upload-download-application-technology-transformation-concept_616485-59.jpg?t=st=1694605873~exp=1694606473~hmac=f7ba6034a4203582b8f71883b26e2a7a1ab03f81782b234b6f997cc78aaf47f2" alt="">
                          </div>
                          <div class="info pt-40">
                              <div class="date-tags">
                                  <div class="tags">
                                      <a href="">Business</a>
                                  </div>
                                  <a href="#" class="date">
                                      Sep 13, 2023
                                  </a>
                                  <span class="color-999"> | </span>
                                  <a href="#" class="author color-999">
                                      By <span class="color-000 fw-bold"> Admin </span>
                                  </a>
                              </div>
                              <h4 class="title" style="font-size: 15px;;">
                                  <a href=""> The Future of Cloud Computing: Trends and Strategies for Success </a>
                              </h4>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="blog-card style-7 mt-5 mt-lg-0">
                          <div class="img img-cover">
                              <img src="https://img.freepik.com/free-photo/programming-background-collage_23-2149901769.jpg?t=st=1694605970~exp=1694606570~hmac=5ba0830b3041509415538b7ad48ee4585b87b96f9379f97f36c79fe3a4180fbe" alt="">
                          </div>
                          <div class="info pt-40">
                              <div class="date-tags">
                                  <div class="tags">
                                      <a href="">IT Solution</a>
                                  </div>
                                  <a href="#" class="date">
                                      Sep 13, 2023
                                  </a>
                                  <span class="color-999"> | </span>
                                  <a href="#" class="author color-999">
                                      By <span class="color-000 fw-bold"> Admin </span>
                                  </a>
                              </div>
                              <h4 class="title" style="font-size: 15px;;">
                                  <a href="">Designing User-Centric Software: A Guide to Enhancing Customer Experiences </a>
                              </h4>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- ====== end blog ====== -->
  <!-- ====== start chat-banner ====== -->
  <section class="chat-banner style-7">
      <div class="container">
          <div class="row align-items-end">
              <div class="col-lg-3 col-sm-6 d-none d-lg-block">
                  <div class="img img1">
                      <img src="assets/img/vector1.png" alt="">
                  </div>
              </div>
              <div class="col-lg-5">
                  <div class="info">
                      <p> Hire Us For Your Project </p>
                      <h3> Lets Work Together </h3>
                      <div class="btns mt-50">
                          <a href="#0" class="btn btn-icon-circle rounded-pill bg-black fw-bold text-white me-4 mb-3 mb-lg-0">
                              <small> Estimate Project <i class="fas fa-long-arrow-alt-right"></i> </small>
                          </a>
                          <a href="#0" class="btn btn-icon-circle rounded-pill fw-bold brd-light text-white hover-blue7">
                              <small> Contact Us <i class="fas fa-long-arrow-alt-right bg-light"></i> </small>
                          </a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="img img2">
                      <img src="assets/img/vector2.png" alt="">
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- ====== end chat-banner ====== -->
</main>
